% -*- mode: erlang; -*- vim: set ft=erlang:
[
    {config, [
        #{
            files => ["src/**/*.erl"],
            ruleset => erl_files,
            rules => [
                {elvis_style, no_receive_without_timeout, disable}
            ]
        },
        #{
            files => ["test/**/*.erl"],
            ruleset => erl_files,
            rules => [
                {elvis_style, dont_repeat_yourself, disable},
                {elvis_style, no_block_expressions, disable},
                {elvis_style, no_debug_call, disable},
                {elvis_style, no_god_modules, disable},
                {elvis_style, no_receive_without_timeout, disable}
            ]
        },
        #{
            files => ["rebar.config", "elvis.config"],
            ruleset => rebar_config
        }
    ]},
    {verbose, false}
].
