% -*- mode: erlang; -*- vim: set ft=erlang:
[
    {config, [
        #{
            files => ["src/**/*.erl"],
            ruleset => erl_files
        },
        #{
            files => ["test/**/*.erl"],
            ruleset => erl_files,
            rules => [
                % Test fixtures often repeat small setup snippets.
                {elvis_style, dont_repeat_yourself, disable},
                % `ct:pal/*` and friends are legitimate in tests.
                {elvis_style, no_debug_call, disable}
            ]
        },
        #{
            files => ["rebar.config", "elvis.config"],
            ruleset => rebar_config
        }
    ]},
    {verbose, false}
].
